/* Default styles for larger screens */
#menu {
  display: flex;
  flex-direction: column;
}


@media (max-width: 1023px) {
  #menu {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    border-bottom: 1px solid #219f85;
  }

  #menu li {
    border-right: 1px solid #219f85;
  }

  #menu li:last-child {
    border-right: none;
  }
}


@media (max-width: 1024px) {
  #large-device-menu {
    display: none;
  }
}

@media (min-width: 1025px) {
  #large-device-menu {
    display: block;
  }
}



@tailwind base;
@tailwind components;
@tailwind utilities;